@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Module Quiz</h1>
    <h3>Learn by Practicing</h3>
    <p class="lead">Module Quiz is an application which helps you remember and refresh the materials learnt at school or university.</p>
    <p>
        To be in touch with your favorite topics and to master the difficult topics is the objective of this application.
        Users would be able to design their own questions and allow friends to take the quiz. Furthermore, also allows users to
        compete with each other on a quiz.
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Vision</h2>
        <p>
            We believe learning is a continuous process and the best way to strengthen concepts is by practicing.
            It is important to have a strong knowlegde of fundamental concepts at any point in your life and we strongly
            believe it will provide you a greater satisfaction.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Timeline</h2>
        <p>
            We will be releasing our web app first and provide the best possible user experience for you.
            Next in the pipline would be our Android app which will be later followed by an iOS app.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Welcome to new world of learning by strengthening your fundamentals which we believe is crucial to your
            success at your workplace and in your life.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("LoginLanding","Quiz")">Learn more &raquo;</a></p>
    </div>
</div>